In [42]:
from faker import Faker
import pandas as pd
import numpy as np
import random

fake = Faker()

def generate_employee_data(n_rows):
    """Generate realistic employee data"""
    data = { 
        "Employee_ID": range(1, n_rows + 1),
        "Name": [fake.name() for _ in range(n_rows)],
        "Age": [random.randint(22, 65) for _ in range(n_rows)],
        "Salary": [round(random.uniform(35000, 150000), 2) for _ in range(n_rows)],
        "City": [fake.city() for _ in range(n_rows)],
        "Joining_Date": [fake.date_between(start_date='-10y', end_date='today') for _ in range(n_rows)],
        "Email": [fake.email() for _ in range(n_rows)],
        "Phone": [fake.phone_number() for _ in range(n_rows)],
        "Department": [random.choice(['Sales', 'IT', 'Marketing', 'HR', 'Finance']) for _ in range(n_rows)],
        "Job_Title": [fake.job() for _ in range(n_rows)]
    }
    return pd.DataFrame(data)

# Generate 100 employees
df = generate_employee_data(100)
print(df.head(10))
print(f"\nDataFrame shape: {df.shape}")

# Save to CSV
df.to_csv('employees_data.csv', index=False)

   Employee_ID              Name  Age     Salary               City  \
0            1        Anna Parks   57   63587.22         Amyborough
1            2       Julie Rojas   39   77946.16        South Megan
2            3   Nicholas Martin   25  122107.01  East Clintonmouth
3            4       Alexis Mays   40   50341.43      Frederickfurt
4            5    Michael Holmes   61  138740.82         Lake Ruben
5            6      Jamie Rhodes   41   52399.59     Port Kathyland
6            7  Cristina Trevino   54   93630.84      Lake Keithton
7            8   Kathy Fernandez   59  141332.58        Robertsside
8            9       Cody Fisher   54  148477.59           Huntside
9           10   Patricia Murray   24   90442.57          Larryberg

  Joining_Date                         Email                 Phone Department  \
0   2024-11-24           jwilson@example.org    238-430-4520x05993    Finance
1   2018-09-04           jason18@example.net      621.680.5047x794    Finance
2   2018-05-09        samantha38@example.com  +1-506-828-4166x5158         HR
3   2015-12-27      beckynichols@example.org      590-401-2409x268      Sales
4   2016-12-18    andersonmartin@example.com     467.922.0114x8810      Sales
5   2023-11-01  jeffreycarpenter@example.net      739-430-8569x514         HR
6   2019-06-02           zgarcia@example.com     470.212.2820x4524         IT
7   2016-11-23         charles34@example.org     (365)671-9232x512         HR
8   2019-05-11       perezaustin@example.com         (523)274-0509         IT
9   2024-09-09           vwillis@example.org     866.246.4298x2925    Finance

                               Job_Title
0                         Retail manager
1                     Secretary, company
2  English as a foreign language teacher
3                      Social researcher
4              Consulting civil engineer
5                 Recruitment consultant
6       Surveyor, commercial/residential
7                    Animal technologist
8                                Barista
9             Further education lecturer

DataFrame shape: (100, 10)

## Task 1

In [43]:
filtered_df=df[(df['Age']>=25)
               & (df['Age']<=50) 
               & (df['Salary']>60000) 
               & (df['Department'].isin(['IT','Finance']))]
print("\nFiltered DataFrame:")
print(filtered_df)

Filtered DataFrame:
    Employee_ID                Name  Age     Salary               City  \
1             2         Julie Rojas   39   77946.16        South Megan
16           17          Melinda Wu   45   78251.34         Tuckerland
21           22  Christopher Norris   28   95052.33   Christensenhaven
26           27      Mercedes Ramos   29   91550.12     Elizabethburgh
28           29         Ellen Bowen   29   95049.99     Lake Kyliefort
38           39       Joel Martinez   27  104874.11           Coleview
53           54  Richard Villarreal   31   66767.41   Port Ashleymouth
54           55        Randy Walton   50   90167.49         Nancyville
56           57       Laurie Torres   44  108520.03        Vargasville
71           72         Amanda Hale   35   60125.70   Elizabethborough
77           78      Ryan Middleton   34  145993.02          Brianland
81           82        Bryan Warren   32  134088.54  West Kristinburgh
83           84    Matthew Anderson   34  146575.25        New Anthony
85           86        Brandy Evans   49  139440.57       Lake Kristen
97           98        Shelby Mejia   35  140007.44         Alyssaberg

   Joining_Date                        Email                  Phone  \
1    2018-09-04          jason18@example.net       621.680.5047x794
16   2018-05-10       karenboone@example.org      563.536.7409x5865
21   2019-07-04          laura87@example.com     202.940.4917x58242
26   2021-11-30  kathleenjohnson@example.net          (723)522-4507
28   2024-12-24          james87@example.org   001-929-881-3178x477
38   2025-09-25      matthewrice@example.net          (400)522-7269
53   2022-02-24     pagekathleen@example.com  +1-627-779-9790x10802
54   2023-03-16      kristinyork@example.net           238-979-8792
56   2024-06-02     smithbethany@example.org           501.550.6979
71   2024-02-01          kelly63@example.org          (994)381-0923
77   2023-01-12       karensmith@example.com          (673)302-4838
81   2025-04-30       danielle73@example.net   +1-989-450-6952x8255
83   2018-05-06  jonathanjohnson@example.org           887-768-2845
85   2023-08-18    julialawrence@example.org           337.915.5307
97   2023-07-27      jamesmedina@example.com     944.987.1968x45224

   Department                           Job_Title
1     Finance                  Secretary, company
16         IT             Chief Financial Officer
21         IT                 Designer, jewellery
26         IT                      Data scientist
28    Finance                 Immigration officer
38    Finance                  Purchasing manager
53         IT             Presenter, broadcasting
54    Finance                    Insurance broker
56    Finance                           Solicitor
71         IT       Engineer, civil (contracting)
77         IT                                Copy
81    Finance         Information systems manager
83         IT            Environmental consultant
85         IT             General practice doctor
97         IT  Tourist information centre manager

## Task 2

In [44]:
selected_df_loc=df.loc[2:4, ['Name','Age','Salary']]
print("\nSelected DataFrame using loc:")
print(selected_df_loc)

selected_df_iloc=df.iloc[0:3,0:2]
print("\nSelected DataFrame using iloc:")
print(selected_df_iloc)

Selected DataFrame using loc:
              Name  Age     Salary
2  Nicholas Martin   25  122107.01
3      Alexis Mays   40   50341.43
4   Michael Holmes   61  138740.82

Selected DataFrame using iloc:
   Employee_ID             Name
0            1       Anna Parks
1            2      Julie Rojas
2            3  Nicholas Martin

## Task 3

In [45]:
df.loc[random.sample(range(len(df)), 5), "Salary"] = np.nan
df.loc[random.sample(range(len(df)), 3), "Department"] = np.nan
df.loc[random.sample(range(len(df)), 4), "Age"] = np.nan

missing_counts = df.isnull().sum()
print(missing_counts)

print("\nDataFrame with missing values:")
print(df)

mean_salary = df['Salary'].mean()
df['Salary']=df['Salary'].fillna(mean_salary)

df['Department']=df['Department'].fillna('Unknown')

df.dropna(subset=['Age'], inplace=True)

df_with_no_missing_values=df.dropna()
print("\nDataFrame after handling missing values:")
print(df_with_no_missing_values)

Employee_ID     0
Name            0
Age             4
Salary          5
City            0
Joining_Date    0
Email           0
Phone           0
Department      3
Job_Title       0
dtype: int64

DataFrame with missing values:
    Employee_ID               Name   Age     Salary               City  \
0             1         Anna Parks  57.0   63587.22         Amyborough
1             2        Julie Rojas  39.0   77946.16        South Megan
2             3    Nicholas Martin  25.0  122107.01  East Clintonmouth
3             4        Alexis Mays  40.0   50341.43      Frederickfurt
4             5     Michael Holmes  61.0        NaN         Lake Ruben
..          ...                ...   ...        ...                ...
95           96  Matthew Schneider  27.0   82011.77   West Richardfurt
96           97        Kayla Ellis   NaN   36219.86         Cherylberg
97           98       Shelby Mejia  35.0  140007.44         Alyssaberg
98           99       Isaiah Cooke  52.0  121273.46         Austinfort
99          100   Kimberly Bennett  61.0  111951.43       Brennanburgh

   Joining_Date                       Email                 Phone Department  \
0    2024-11-24         jwilson@example.org    238-430-4520x05993    Finance
1    2018-09-04         jason18@example.net      621.680.5047x794    Finance
2    2018-05-09      samantha38@example.com  +1-506-828-4166x5158         HR
3    2015-12-27    beckynichols@example.org      590-401-2409x268      Sales
4    2016-12-18  andersonmartin@example.com     467.922.0114x8810      Sales
..          ...                         ...                   ...        ...
95   2020-06-24       gabriel83@example.org  001-450-821-0865x956         HR
96   2016-11-07         wharper@example.com    739-507-5506x31857  Marketing
97   2023-07-27     jamesmedina@example.com    944.987.1968x45224         IT
98   2019-09-12        audrey50@example.net    (610)229-4126x2077      Sales
99   2025-08-21    lewisanthony@example.org    (784)642-7759x2730    Finance

                                Job_Title
0                          Retail manager
1                      Secretary, company
2   English as a foreign language teacher
3                       Social researcher
4               Consulting civil engineer
..                                    ...
95                 Audiological scientist
96                    Associate Professor
97     Tourist information centre manager
98                          Buyer, retail
99                   Merchandiser, retail

[100 rows x 10 columns]

DataFrame after handling missing values:
    Employee_ID               Name   Age         Salary               City  \
0             1         Anna Parks  57.0   63587.220000         Amyborough
1             2        Julie Rojas  39.0   77946.160000        South Megan
2             3    Nicholas Martin  25.0  122107.010000  East Clintonmouth
3             4        Alexis Mays  40.0   50341.430000      Frederickfurt
4             5     Michael Holmes  61.0   89661.235158         Lake Ruben
..          ...                ...   ...            ...                ...
94           95     Gabriel Rogers  62.0   84151.770000          East Cole
95           96  Matthew Schneider  27.0   82011.770000   West Richardfurt
97           98       Shelby Mejia  35.0  140007.440000         Alyssaberg
98           99       Isaiah Cooke  52.0  121273.460000         Austinfort
99          100   Kimberly Bennett  61.0  111951.430000       Brennanburgh

   Joining_Date                       Email                 Phone Department  \
0    2024-11-24         jwilson@example.org    238-430-4520x05993    Finance
1    2018-09-04         jason18@example.net      621.680.5047x794    Finance
2    2018-05-09      samantha38@example.com  +1-506-828-4166x5158         HR
3    2015-12-27    beckynichols@example.org      590-401-2409x268      Sales
4    2016-12-18  andersonmartin@example.com     467.922.0114x8810      Sales
..          ...                         ...                   ...        ...
94   2025-06-27         reedian@example.org      420.460.8420x828  Marketing
95   2020-06-24       gabriel83@example.org  001-450-821-0865x956         HR
97   2023-07-27     jamesmedina@example.com    944.987.1968x45224         IT
98   2019-09-12        audrey50@example.net    (610)229-4126x2077      Sales
99   2025-08-21    lewisanthony@example.org    (784)642-7759x2730    Finance

                                Job_Title
0                          Retail manager
1                      Secretary, company
2   English as a foreign language teacher
3                       Social researcher
4               Consulting civil engineer
..                                    ...
94                     Restaurant manager
95                 Audiological scientist
97     Tourist information centre manager
98                          Buyer, retail
99                   Merchandiser, retail

[96 rows x 10 columns]