In [81]:
from faker import Faker
import pandas as pd
import numpy as np
import random

from datetime import date

fake = Faker()

def generate_employee_data(n_rows):
    """Generate realistic employee data"""
    data = { 
        "Employee_ID": range(1, n_rows + 1),
        "Name": [fake.name() for _ in range(n_rows)],
        "Age": [random.randint(22, 65) for _ in range(n_rows)],
        "Salary": [round(random.uniform(35000, 150000), 2) for _ in range(n_rows)],
        "City": [fake.city() for _ in range(n_rows)],
        "Joining_Date": [fake.date_between(start_date='-10y', end_date='today') for _ in range(n_rows)],
        "Email": [fake.email() for _ in range(n_rows)],
        "Phone": [fake.phone_number() for _ in range(n_rows)],
        "Department": [random.choice(['Sales', 'IT', 'Marketing', 'HR', 'Finance']) for _ in range(n_rows)],
        "Job_Title": [fake.job() for _ in range(n_rows)]
    }
    return pd.DataFrame(data)

# Generate 100 employees
df = generate_employee_data(100)
print(df.head(10))
print(f"\nDataFrame shape: {df.shape}")

# Save to CSV
df.to_csv('employees_data.csv', index=False)

   Employee_ID                 Name  Age     Salary               City  \
0            1          Bryan Silva   60   51593.58  North Janicehaven
1            2        Andrew Knight   42   83172.85        West Daniel
2            3   Pamela Blankenship   52   94469.61         West Wendy
3            4  Catherine Hernandez   32   98175.72       Jameschester
4            5      Joann Henderson   64  111366.58      West Jennifer
5            6         Donna Morris   53  113107.58        Lake Debbie
6            7       Allison Garcia   35  105687.75           New Gail
7            8     Sandra Rodriguez   61   73007.78        Michaelstad
8            9        Mindy Salinas   22   87900.02    East Joshuaside
9           10        Loretta Brown   44  118983.08        North James

  Joining_Date                          Email                 Phone  \
0   2016-06-12          uwilliams@example.net     467.229.9540x9930
1   2021-05-03             dale57@example.net     589-486-7384x3541
2   2016-03-20           pbrennan@example.org          400.979.3837
3   2018-02-19        francisco83@example.net  +1-233-750-7887x0613
4   2019-01-03             ryan16@example.net          413.351.7821
5   2022-11-17  harringtonjeffrey@example.org          994.583.6617
6   2025-02-16           wmaynard@example.org    208.538.7691x00897
7   2025-05-16            jharris@example.org   +1-883-913-3768x049
8   2016-05-15       adamguerrero@example.org  001-815-724-9992x677
9   2023-03-22             usmith@example.org   (654)235-0363x83977

  Department                              Job_Title
0         HR  Emergency planning/management officer
1         IT                               Best boy
2  Marketing                  Editor, commissioning
3         IT              Editor, magazine features
4      Sales                       Theatre director
5  Marketing                          Meteorologist
6      Sales                         Quarry manager
7         IT             Civil engineer, consulting
8      Sales                      Buyer, industrial
9    Finance             Designer, ceramics/pottery

DataFrame shape: (100, 10)

## Task 1

In [82]:
filtered_df=df[(df['Age']>=25)
               & (df['Age']<=50) 
               & (df['Salary']>60000) 
               & (df['Department'].isin(['IT','Finance']))]
print("\nFiltered DataFrame:")
print(filtered_df)

Filtered DataFrame:
    Employee_ID                 Name  Age     Salary                City  \
1             2        Andrew Knight   42   83172.85         West Daniel
3             4  Catherine Hernandez   32   98175.72        Jameschester
9            10        Loretta Brown   44  118983.08         North James
11           12           Paul Smith   25  119709.94        Griffithland
17           18         Scott Miller   34  142374.85           Scottside
25           26      Danielle George   43  101218.46         Michaelfurt
39           40         Brandy Young   35   94702.92       West Brittany
44           45        Denise Wilson   50  115802.36       West Nicholas
54           55         Dylan Miller   29  103578.08         Herrerafurt
56           57          Robert Long   45  133393.14         Port Angela
67           68           Emily Dunn   39  146416.29   North Stephenfort
88           89       Laura Stephens   48   63162.26         Annettefurt
89           90          Lisa Massey   38  103288.22  Lake Christianfort
95           96         Allison Chen   35  145970.42          New Miguel
99          100       William Chavez   38  102009.68    South Thomasland

   Joining_Date                     Email                  Phone Department  \
1    2021-05-03        dale57@example.net      589-486-7384x3541         IT
3    2018-02-19   francisco83@example.net   +1-233-750-7887x0613         IT
9    2023-03-22        usmith@example.org    (654)235-0363x83977    Finance
11   2017-05-07        xsmith@example.net           416.254.0160    Finance
17   2020-02-11        cellis@example.net           460-389-4173    Finance
25   2017-07-22      millsamy@example.net      (980)340-7921x622    Finance
39   2018-03-17       james04@example.org      (319)588-5403x035         IT
44   2019-03-25     william04@example.org             4145162580    Finance
54   2015-10-30  foleymichael@example.org  001-671-405-6705x1640         IT
56   2018-11-04   shanemorris@example.com      280-586-5955x6776         IT
67   2024-09-28       kcortez@example.net          (695)439-8470         IT
88   2017-12-02    bpatterson@example.com       491-508-6183x886         IT
89   2022-05-13        alan98@example.net   001-509-519-9644x303    Finance
95   2020-11-02  harveyshelia@example.com    (727)763-1643x72329         IT
99   2021-01-17       randy36@example.org       645.684.5681x949    Finance

                              Job_Title
1                              Best boy
3             Editor, magazine features
9            Designer, ceramics/pottery
11  Engineer, broadcasting (operations)
17                    Fish farm manager
25             Local government officer
39             Print production planner
44              Chief Operating Officer
54                 Merchandiser, retail
56                            Barrister
67               Fitness centre manager
88             Chief Technology Officer
89                 Field trials officer
95        Clinical molecular geneticist
99                       Pilot, airline

## Task 2

In [83]:
selected_df_loc=df.loc[2:4, ['Name','Age','Salary']]
print("\nSelected DataFrame using loc:")
print(selected_df_loc)

selected_df_iloc=df.iloc[0:3,0:2]
print("\nSelected DataFrame using iloc:")
print(selected_df_iloc)

Selected DataFrame using loc:
                  Name  Age     Salary
2   Pamela Blankenship   52   94469.61
3  Catherine Hernandez   32   98175.72
4      Joann Henderson   64  111366.58

Selected DataFrame using iloc:
   Employee_ID                Name
0            1         Bryan Silva
1            2       Andrew Knight
2            3  Pamela Blankenship

## Task 3

In [84]:
df.loc[random.sample(range(len(df)), 5), "Salary"] = np.nan
df.loc[random.sample(range(len(df)), 3), "Department"] = np.nan
df.loc[random.sample(range(len(df)), 4), "Age"] = np.nan

missing_counts = df.isnull().sum()
print(missing_counts)

print("\nDataFrame with missing values:")
print(df)

mean_salary = df['Salary'].mean()
df['Salary']=df['Salary'].fillna(mean_salary)

df['Department']=df['Department'].fillna('Unknown')

df.dropna(subset=['Age'], inplace=True)

df_with_no_missing_values=df.dropna()
print("\nDataFrame after handling missing values:")
print(df_with_no_missing_values)

Employee_ID     0
Name            0
Age             4
Salary          5
City            0
Joining_Date    0
Email           0
Phone           0
Department      3
Job_Title       0
dtype: int64

DataFrame with missing values:
    Employee_ID                 Name   Age     Salary               City  \
0             1          Bryan Silva  60.0   51593.58  North Janicehaven
1             2        Andrew Knight  42.0   83172.85        West Daniel
2             3   Pamela Blankenship  52.0   94469.61         West Wendy
3             4  Catherine Hernandez  32.0   98175.72       Jameschester
4             5      Joann Henderson  64.0  111366.58      West Jennifer
..          ...                  ...   ...        ...                ...
95           96         Allison Chen  35.0  145970.42         New Miguel
96           97        Robert Bishop  38.0  136866.71        Lake Steven
97           98         Daniel Smith  30.0   75090.99          Julieland
98           99    Katherine Collins   NaN  117467.41         Hickshaven
99          100       William Chavez  38.0  102009.68   South Thomasland

   Joining_Date                     Email                   Phone Department  \
0    2016-06-12     uwilliams@example.net       467.229.9540x9930         HR
1    2021-05-03        dale57@example.net       589-486-7384x3541         IT
2    2016-03-20      pbrennan@example.org            400.979.3837  Marketing
3    2018-02-19   francisco83@example.net    +1-233-750-7887x0613         IT
4    2019-01-03        ryan16@example.net            413.351.7821      Sales
..          ...                       ...                     ...        ...
95   2020-11-02  harveyshelia@example.com     (727)763-1643x72329         IT
96   2017-03-18     matthew66@example.com  001-484-392-3268x13180  Marketing
97   2025-07-29   davidmurphy@example.net        619.816.2568x574  Marketing
98   2016-07-22  martinezcody@example.com   +1-377-849-6119x01018    Finance
99   2021-01-17       randy36@example.org        645.684.5681x949    Finance

                                   Job_Title
0      Emergency planning/management officer
1                                   Best boy
2                      Editor, commissioning
3                  Editor, magazine features
4                           Theatre director
..                                       ...
95             Clinical molecular geneticist
96  Conservation officer, historic buildings
97                Regulatory affairs officer
98                        Editor, film/video
99                            Pilot, airline

[100 rows x 10 columns]

DataFrame after handling missing values:
    Employee_ID                 Name   Age     Salary               City  \
0             1          Bryan Silva  60.0   51593.58  North Janicehaven
1             2        Andrew Knight  42.0   83172.85        West Daniel
2             3   Pamela Blankenship  52.0   94469.61         West Wendy
3             4  Catherine Hernandez  32.0   98175.72       Jameschester
4             5      Joann Henderson  64.0  111366.58      West Jennifer
..          ...                  ...   ...        ...                ...
94           95   Dr. Clinton Thomas  44.0   97546.54       Michelleview
95           96         Allison Chen  35.0  145970.42         New Miguel
96           97        Robert Bishop  38.0  136866.71        Lake Steven
97           98         Daniel Smith  30.0   75090.99          Julieland
99          100       William Chavez  38.0  102009.68   South Thomasland

   Joining_Date                      Email                   Phone Department  \
0    2016-06-12      uwilliams@example.net       467.229.9540x9930         HR
1    2021-05-03         dale57@example.net       589-486-7384x3541         IT
2    2016-03-20       pbrennan@example.org            400.979.3837  Marketing
3    2018-02-19    francisco83@example.net    +1-233-750-7887x0613         IT
4    2019-01-03         ryan16@example.net            413.351.7821      Sales
..          ...                        ...                     ...        ...
94   2016-07-14  zunigagregory@example.com       715.784.4538x1024         HR
95   2020-11-02   harveyshelia@example.com     (727)763-1643x72329         IT
96   2017-03-18      matthew66@example.com  001-484-392-3268x13180  Marketing
97   2025-07-29    davidmurphy@example.net        619.816.2568x574  Marketing
99   2021-01-17        randy36@example.org        645.684.5681x949    Finance

                                   Job_Title
0      Emergency planning/management officer
1                                   Best boy
2                      Editor, commissioning
3                  Editor, magazine features
4                           Theatre director
..                                       ...
94                Television camera operator
95             Clinical molecular geneticist
96  Conservation officer, historic buildings
97                Regulatory affairs officer
99                            Pilot, airline

[96 rows x 10 columns]

## Task 4

In [85]:
def generate_student_data(n_rows):
    """Generate sample student data"""
    data = {
        "Student_ID": range(1, n_rows + 1),
        "Name": [fake.name() for _ in range(n_rows)],
        "Date_of_Birth": [
            fake.date_of_birth(minimum_age=18, maximum_age=30) for _ in range(n_rows)
        ],
        "GPA": [round(random.uniform(2.0, 4.0), 2) for _ in range(n_rows)],
        "Credits": [random.randint(0, 120) for _ in range(n_rows)],
        "Major": [
            random.choice(
                ["Computer Science", "Math", "Physics", "Biology", "Economics"]
            )
            for _ in range(n_rows)
        ],
    }
    return pd.DataFrame(data)


# Generate 15 students
df_students = generate_student_data(15)
print(df_students.head())

   Student_ID               Name Date_of_Birth   GPA  Credits      Major
0           1      Carl Williams    1997-12-18  2.51       50    Biology
1           2  Elizabeth Johnson    2005-01-06  3.97      114       Math
2           3       Morgan Wells    1999-12-16  3.62      112  Economics
3           4   Michael Anderson    2006-11-20  3.39       76    Physics
4           5       Jerry Thomas    1997-11-18  3.35       31    Biology

In [86]:
gpa_category=[0,2.5,3.0,3.5,4.0]
gpa_labels=['Below Avarage','Average','Good','Excellent']

df_students['GPA_Category']=pd.cut(df_students['GPA'],bins=gpa_category,labels=gpa_labels,include_lowest=True)

today = pd.Timestamp(date.today())
df_students['Age'] = (today - pd.to_datetime(df_students['Date_of_Birth'])).dt.days // 365
df_students["GPA_Normalized"] = df_students[["GPA"]].transform(
    lambda x: (x - x.min()) / (x.max() - x.min())
)

print(df_students)
deans_list=df_students[(df_students['GPA']>=3.5) &  (df_students['Credits']>=60)]

print(deans_list[['Name','GPA','Credits','Major']])

major_stats = (
    df_students.groupby("Major")
    .agg(
        {
            "GPA": ["mean", "max", "min"],
            "Credits": ["mean", "max", "min"],
            "Age": "mean",
        }
    )
    .round(2)
)


print(major_stats)

    Student_ID                 Name Date_of_Birth   GPA  Credits  \
0            1        Carl Williams    1997-12-18  2.51       50
1            2    Elizabeth Johnson    2005-01-06  3.97      114
2            3         Morgan Wells    1999-12-16  3.62      112
3            4     Michael Anderson    2006-11-20  3.39       76
4            5         Jerry Thomas    1997-11-18  3.35       31
5            6      Brian Alexander    1996-11-09  3.39      114
6            7        Cheryl Nelson    2001-08-08  2.17        7
7            8       Anthony Becker    1998-11-06  2.28       16
8            9        Matthew Lewis    2001-10-17  3.83       38
9           10  Jacqueline Mitchell    2000-02-17  2.37       71
10          11         Monica Baker    1997-02-06  3.04       96
11          12         Julia Tucker    2005-12-07  2.38      101
12          13       Mary Schneider    1997-06-30  2.75       86
13          14        Jason Lambert    2001-02-25  2.72       14
14          15        Jeremy Thomas    1995-07-08  3.65       79

               Major   GPA_Category  Age  GPA_Normalized
0            Biology        Average   27        0.188889
1               Math      Excellent   20        1.000000
2          Economics      Excellent   25        0.805556
3            Physics           Good   18        0.677778
4            Biology           Good   27        0.655556
5            Physics           Good   28        0.677778
6          Economics  Below Avarage   24        0.000000
7               Math  Below Avarage   26        0.061111
8               Math      Excellent   24        0.922222
9            Biology  Below Avarage   25        0.111111
10  Computer Science           Good   28        0.483333
11  Computer Science  Below Avarage   19        0.116667
12  Computer Science        Average   28        0.322222
13  Computer Science        Average   24        0.305556
14              Math      Excellent   30        0.822222
                 Name   GPA  Credits      Major
1   Elizabeth Johnson  3.97      114       Math
2        Morgan Wells  3.62      112  Economics
14      Jeremy Thomas  3.65       79       Math
                   GPA             Credits             Age
                  mean   max   min    mean  max min   mean
Major
Biology           2.74  3.35  2.37   50.67   71  31  26.33
Computer Science  2.72  3.04  2.38   74.25  101  14  24.75
Economics         2.90  3.62  2.17   59.50  112   7  24.50
Math              3.43  3.97  2.28   61.75  114  16  25.00
Physics           3.39  3.39  3.39   95.00  114  76  23.00