In [9]:
from faker import Faker
import pandas as pd
import numpy as np
import random

fake = Faker()

def generate_employee_data(n_rows):
    """Generate realistic employee data"""
    data = { 
        "Employee_ID": range(1, n_rows + 1),
        "Name": [fake.name() for _ in range(n_rows)],
        "Age": [random.randint(22, 65) for _ in range(n_rows)],
        "Salary": [round(random.uniform(35000, 150000), 2) for _ in range(n_rows)],
        "City": [fake.city() for _ in range(n_rows)],
        "Joining_Date": [fake.date_between(start_date='-10y', end_date='today') for _ in range(n_rows)],
        "Email": [fake.email() for _ in range(n_rows)],
        "Phone": [fake.phone_number() for _ in range(n_rows)],
        "Department": [random.choice(['Sales', 'IT', 'Marketing', 'HR', 'Finance']) for _ in range(n_rows)],
        "Job_Title": [fake.job() for _ in range(n_rows)]
    }
    return pd.DataFrame(data)

# Generate 100 employees
df = generate_employee_data(100)
print(df.head(10))
print(f"\nDataFrame shape: {df.shape}")

# Save to CSV
df.to_csv('employees_data.csv', index=False)

   Employee_ID               Name  Age     Salary                  City  \
0            1   Alicia Rodriguez   25   35629.60            Perryburgh
1            2     Thomas Hampton   42   86700.44           Port Thomas
2            3       Jerry Lowery   59   68345.27            New Elijah
3            4     Thomas Johnson   44  124712.84  North Barbaraborough
4            5     Benjamin Jones   24  114071.91            Jeremybury
5            6    William Wheeler   55   59365.51            Joshuafurt
6            7      Tonya Stewart   31  124410.88         Hughesborough
7            8        Tracy Munoz   30   93445.83          South Ronald
8            9     Jennifer Lopez   32  118625.32            Port James
9           10  Christina Pearson   45   50456.65             Cruzmouth

  Joining_Date                             Email                   Phone  \
0   2016-03-11              robert33@example.net   001-980-751-3472x2614
1   2020-05-26             ycopeland@example.com      334-528-2029x83028
2   2024-01-19               bryan80@example.net  001-517-912-7172x43249
3   2016-02-08                kclark@example.net        902.811.1709x481
4   2024-09-14         carloscamacho@example.com    001-813-635-2609x096
5   2016-02-02       cassandrabecker@example.org        570.468.4228x820
6   2020-07-16            nicholas66@example.net           (845)493-0446
7   2022-06-05               qmorgan@example.org       637.662.8808x9830
8   2023-04-21       melissaodonnell@example.net           (455)789-2343
9   2021-10-12  pattersonchristopher@example.net       681-392-9355x2557

  Department                         Job_Title
0         IT           Secretary/administrator
1    Finance              Sports administrator
2      Sales        Research scientist (maths)
3    Finance                   Learning mentor
4         IT               Designer, furniture
5         IT       Passenger transport manager
6         IT           Chief Executive Officer
7         HR  Psychologist, sport and exercise
8  Marketing       Careers information officer
9         IT               Art gallery manager

DataFrame shape: (100, 10)

## Task 1

In [8]:
filtered_df=df[(df['Age']>=25)
               & (df['Age']<=50) 
               & (df['Salary']>60000) 
               & (df['Department'].isin(['IT','Finance']))]
print("\nFiltered DataFrame:")
print(filtered_df)

Filtered DataFrame:
    Employee_ID                Name  Age     Salary             City  \
4             5      Ashley Alvarez   48  105005.11        Sarahside
11           12        Diana Garcia   36   83200.08    East Johnfurt
12           13            Lee Mack   37  148158.37       New Carmen
15           16           Jim Clark   35   99010.01   West Markmouth
16           17    Danielle Edwards   39   78566.66   South Johnberg
19           20         Tami Hughes   27  128193.50      South Jason
38           39     Amanda Matthews   32  117985.79      Port Angela
55           56        Erica Mendez   31  125997.35    Baileyborough
58           59       Katelyn Davis   34   73044.72     Michaelshire
62           63        Juan Hendrix   26  103203.80    East Brittany
72           73    Joseph Patterson   42  101830.76  North Gabriella
75           76        Bianca Smith   37   95908.32       New Claire
82           83      Cheryl Edwards   47  106586.30        Carolberg
96           97           Jack Luna   25   78196.32     Goodmanmouth
99          100  Kimberly Rodriguez   39   88586.57        Vegaville

   Joining_Date                        Email                  Phone  \
4    2022-03-29           luke82@example.org           855.583.0122
11   2016-04-20          julie91@example.org  001-401-220-8391x8043
12   2025-01-17        kenneth09@example.net     543.398.3838x57080
15   2019-12-21          emiller@example.net     328.444.4243x25341
16   2016-01-08         cstewart@example.net           236.389.6628
19   2021-09-17  roberthenderson@example.com   001-641-374-9776x842
38   2017-06-27           xperez@example.net   +1-613-940-1616x9498
55   2022-01-12      mariocherry@example.org        +1-852-854-6602
58   2025-02-10      jonesnicole@example.com             5078772951
62   2021-10-01   edwardsrichard@example.net           583.953.0614
72   2024-07-20           eyoung@example.org          (342)318-1443
75   2023-09-01       mrodriguez@example.net     (310)964-3954x5315
82   2023-10-30        charles31@example.com    (308)886-7691x53982
96   2023-01-04    freemanjulian@example.net           647-465-9996
99   2016-11-30      brownrobert@example.org     437.981.7494x05559

   Department                      Job_Title
4     Finance  Advertising account executive
11         IT       Counselling psychologist
12    Finance                Patent attorney
15         IT            Librarian, academic
16         IT          Adult guidance worker
19         IT                 Dramatherapist
38    Finance       Counselling psychologist
55         IT            Chemist, analytical
58    Finance     Sports development officer
62         IT        Horticultural therapist
72    Finance        Chartered loss adjuster
75    Finance          Adult guidance worker
82         IT       Radiographer, diagnostic
96         IT                Publishing copy
99         IT         Sales professional, IT

## Task 2

In [10]:
selected_df_loc=df.loc[2:4, ['Name','Age','Salary']]
print("\nSelected DataFrame using loc:")
print(selected_df_loc)

selected_df_iloc=df.iloc[0:3,0:2]
print("\nSelected DataFrame using iloc:")
print(selected_df_iloc)

Selected DataFrame using loc:
             Name  Age     Salary
2    Jerry Lowery   59   68345.27
3  Thomas Johnson   44  124712.84
4  Benjamin Jones   24  114071.91

Selected DataFrame using iloc:
   Employee_ID              Name
0            1  Alicia Rodriguez
1            2    Thomas Hampton
2            3      Jerry Lowery